NEXT_PUBLIC_API_URL=http://localhost:4000/api
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAyoBI-LqqafX1R1MyqNJuK6RMie6oKoCE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=akseskota.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=akseskota
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=akseskota.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1076876499152
NEXT_PUBLIC_FIREBASE_APP_ID=1:1076876499152:web:896151ddf7a0deeb8966d5
NEXT_PUBLIC_MAPBOX_TOKEN=pk.your_public_mapbox_token
